@charset "UTF-8";
/* CSS Document */

body {
	width: 900px; /* Fixed width */
	margin:0 auto; /* Left and right margins are set as 0 (order is Top Right Bottom Left OR LeftRight TopBottom) */
	/*background-image:url;*/
	font-family: 'Raleway', sans-serif;
}

div {
	padding:10px;
}

h1 a{
	text-decoration: none;
	color:#B3B3B3;
}

#header {
	height:100px; /* Fixed height */
	position:relative;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing:4px;
}

#branding {
	width: 270px;
	float: left; 
	height:80px;
	font-weight:bold;
	color:#B3B3B3;
}

/* TOP HEADER */

#main-navigation {
	width: 570px;
	float: right;
	height: 80px;
}

#main-navigation ul {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

#main-navigation ul li{
	 display: inline;
	 margin: auto 30px auto auto;
	 color: #ff8e54;
}

/* HEADER LINKS */

#main-navigation a {
	color: #ffcf67;
	text-decoration: none; /* removing underline */
	text-transform:uppercase;
}

#main-navigation a:hover {
	color: #ff032b;
	text-decoration: none;
}

/* MAIN CONTENT */

#main-content {
	background: #FFFFFF;
	height:250px;
	width:50%;
	margin:auto;
	opacity:1;
}

#main-content img, #sc-portfolio img { /* use commas to apply same attributes to different elements */
	float: left;
	margin:0;
}

/* COLOUR THEME BOXES */

.box1 { height: 70px; width: 70px;
	background: #ffcf67;
	float:left;
}

.box1:hover {
	background: #ffbc2c;
	transition: all 0.3s ease-in-out;
}

.box2 { height: 70px; width: 70px;
	background: #ff8e54;
	float:left;
}

.box2:hover {
	background: #f15708;
	transition: all 0.3s ease-in-out;
}

.box3 { height: 70px; width: 70px;
	background: #ff5142;
	float:left;
}

.box3:hover {
	background: #ff8c82;
	transition: all 0.3s ease-in-out;
}

.box4 { height: 70px; width: 70px;
	background: #ff122f;
	float:left;
}

.box4:hover {
	background: #ff6679;
	transition: all 0.3s ease-in-out;
}


.clear { /* used to clear the error caused by float */
	clear:both;
}
